.grid {
   display: grid;
   grid-gap: 30px;

  &_thrcol {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &_twocol {
    grid-template-columns: 1fr 1fr;
  }

  &_fourcol {
    grid-template-columns: repeat(4,1fr);
  }
 }