.header {
  top:0;
  left:0;
  right:0;
  bottom: 0;
  z-index:-1;


  &__wrapper {
    height: 100vh;
  }


  &__background {
    z-index:2;
    top:0;
    left:0;
    right:0;
    bottom:0;

    &::before {
      content:'';
      display: block;
      position: absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
      z-index:0;
      background-color: rgba(0,0,0,.35);
    }

    img {
      object-fit: cover;
    }
  }

  &__inner {
    height:100vh;
    display: grid;
    grid-template-columns: 1fr;
    z-index:5;
    align-content: center;
    justify-items: center;
    grid-row-gap: 20px;
  }

  &__title {
    font-size:44px;
    font-weight: 500;
  }

  &__info {
    font-size: 22px;
  }
}



.parallax {
  height: 100vh;
  z-index:2;
}