.nav {

  border-bottom: 2px solid dimgray;


  &__inner {
    display: grid;
    grid-template-columns: repeat(6,auto);
    justify-items: start;
    justify-content: flex-end;
    grid-column-gap: 35px;
  }


  &__item {
    font-size: 23px;
    background-color: transparent;
    font-family: Montserrat;
    cursor: pointer;
  }
}